<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h2 class="card-title center-align">Sign in</h2>
      
      <div class="card indigo lighten-5">
        <div class="card-content">

          <div *ngIf="!isLoggedIn">
            <form class="black-text" (ngSubmit)="login(); loginForm.reset();" #loginForm="ngForm">
        
              <div class="input-field">
                <input
                  type="email" id="email" name="email" required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  [(ngModel)]="userCredentials.email"
                  #email="ngModel"
                  class="validate"
                  placeholder="Email"
                />
                <label for="email" class="black-text">Email</label>
              </div>
              <div class="input-field">
                <input
                  type="password" id="password" name="password" required
                  [(ngModel)]="userCredentials.password"
                  #password="ngModel"
                  placeholder="Password"
                />
                <label for="password" class="black-text">Password</label>
              </div>
              <button type="submit" [disabled]="!loginForm.form.valid" class="btn green waves-effect waves-light right">
                Sign in
              </button>

            </form>
          </div>
        
        </div>
      </div>
      <a class="right indigo-text" routerLink="/register" routerLinkActive="active-link">Create new account</a>
    </div>
  </div>
  
</div>
