<div>
  <button *ngIf="!isLoggedIn" (click)="logout()">Logout</button>
  <div *ngIf="!isLoggedIn">
    <form (ngSubmit)="login(); loginForm.reset();" #loginForm="ngForm">
      <div>
        <label for="email">email</label>
        <input 
          type="email" id="email" name="email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
          [(ngModel)]="userModel.email"
          #email="ngModel"
        />
      </div>
      <div>
        <label for="password">password</label>
        <input 
          type="password" id="password" name="password" required
          [(ngModel)]="userModel.password"
          #password="ngModel"
        />
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
  <button (click)="currentUser()">current user</button>
</div>