
.navbar {
  display: flex;
  justify-content: space-between;
}

.welcome-ani-cont {
  overflow: hidden;
  height: 43px;
}

.welcome-ani-cont > * {
  height: 43px;
  padding: 10px 0 10px 0;
  margin-bottom: -43px;
}

.badge {
  margin: 0;
  padding: 0;
}
