<div class="container">
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <!--; registerForm.reset()-->
    <div class="row">
      <div class="input-field col s6">
        <label for="email">e-mail</label>
        <input
          type="email" id="email" name="email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [(ngModel)]="userCredentials.email"
          #email="ngModel"
          class="validate"
          placeholder="e-mail"
        />
      </div>
      <div class="input-field col s6">
        <label for="password">password</label>
        <input
          type="password" id="password" name="password" required minlength="8" maxlength="72"
          [(ngModel)]="userCredentials.password"
          #password="ngModel"
          placeholder="password"
        />
      </div>
    </div>
    <button type="submit" [disabled]="!registerForm.form.valid" class="btn right">Register</button>
  </form>
</div>
