<form (ngSubmit)="register(); registerForm.reset()" #registerForm="ngForm">
  <div>
    <label for="email">email</label>
    <input 
      type="email" id="email" name="email" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
      [(ngModel)]="userModel.email"
      #email="ngModel"
    />
  </div>
  <div>
    <label for="password">password</label>
    <input 
      type="password" id="password" name="password" required minlength="8"
      [(ngModel)]="userModel.password"
      #password="ngModel"
    />
  </div>
  <button type="submit" [disabled]="!registerForm.form.valid">Register</button>
</form>